img{border:0;-ms-interpolation-mode:bicubic}

#modulesArea{min-height:300px}
* html #columns{display:inline-block}
.column{float:left}
* html .column{overflow:hidden}

.transparent{background:none}

#columns{padding-top:5px}
.column{min-height:117px}
.editMode .column{background:transparent url(img/white15.png?v=490)}

.module,.moduleEdit{background:#FFF;margin:5px}
.resizable .module,.resizable .moduleEdit{margin:5px 0px}
.module a{word-wrap:break-word}
.beingDragged{z-index:9999}
.module{border:3px solid #ECECEC;position:relative}
* html .module{zoom:1}
.moduleFrame{border:1px solid #889DFF;overflow:hidden;background:#FFF;position:relative;width:100%}
* html .moduleFrame{zoom:1}
.moduleEdit{border:3px solid #E1E9F4}
.moduleEdit .moduleFrame{border:1px solid #2968B9}
body #application .kbdFocus{border:3px solid #AAA}
.moduleHeader{cursor:move;background:#EFF5FF;height:1.8em;min-height:20px;overflow:hidden;position:relative}
.unpaint{border:0px !important;background:transparent url(img/icons/actions.png?v=1) no-repeat !important}
.color .borderless{border:1px dotted black;background:transparent url(/img/s.gif)}
.white{background:#FFF}
.yellow{background:#FFFFE0}
.green{background:#EEFFE0}
.red{background:#FFE0E1}
.blue{background:#EFF5FF}
.orange{background:#FEE8BD}
.moduleHeader .showHide{width:0;height:16px;cursor:pointer;float:left;padding:2px 2px 0 2px;border-bottom:none}
.moduleHeader .ico{padding-top:2px;float:left;border-bottom:none}
.rtl .moduleHeader .ico{float:right;margin:0px !important;margin-right:-18px}
* html .moduleHeader .ico{margin-left:-15px}
.moduleHeader .title{font-weight:bold;padding-left:4px;font-size:1em;display:inline;font-family:inherit;line-height:1.8em;color:#00368F}
*html .moduleHeader .title a{position:relative;left:5px}
.moduleHeader .title a{color:#00368F}
.moduleHeader .title a:hover{color:#F60}
.moduleHeader .title  em,.moduleHeader .title  em a{font-style:normal;color:#36C}
.rtl .moduleHeader .title,.rtl .moduleHeader .showHide{float:right;margin-right:5px}
.moduleHeader .actions span,.moduleHeader .actions a.iconText,.moduleHeader .actions img.icon{filter:alpha(opacity=40);opacity:0.4}
.moduleHeader .hover span,.moduleHeader .hover a.iconText,.moduleHeader .hover img.icon{filter:alpha(opacity=100);opacity:1.0}
.moduleHeader .options,.moduleHeader .share,.moduleHeader .info,.moduleHeader .edit,.moduleHeader .close,.moduleHeader .refresh{float:right}
.rtl .moduleHeader .options,.rtl .moduleHeader .edit,.rtl .moduleHeader .close,.rtl .moduleHeader .refresh{float:left}
.moduleHeader .share,.moduleHeader .info,.moduleHeader .edit{margin:2px 5px 0 5px;cursor:pointer}
.moduleHeader .icon{margin-right:0;margin-left:3px}
.moduleHeader .share a,.moduleHeader a.share,.moduleHeader .edit a,.moduleHeader a.edit{color:#858585;text-decoration:underline;border-bottom:none}
.moduleHeader .share a:hover,.moduleHeader a.share:hover,.moduleHeader .edit a:hover,.moduleHeader a.edit:hover{color:#F60}
.moduleHeader .close{margin:2px 2px 0 0;cursor:pointer;border-bottom:none}
.rtl .moduleHeader .close{margin:0px;padding:0px;padding-top:2px;padding-left:3px;padding-right:3px}
.moduleHeader .refresh{padding:3px 5px 2px 0;cursor:pointer;border-bottom:none}
.moduleHeader .options{padding:2px 5px 0px 0;cursor:pointer;border-bottom:none}
.moduleContent{clear:both;padding:1px;background:#FFF}
.editContent{display:none;margin:0 0 2px 0;clear:both;background:#EFF5FF;padding:10px 0 10px 10px;border-bottom:1px solid #B9D0ED;border-top:1px solid #D3E2F4}
.editContent .optionTab{background:#E5EEFF url(img/showModBlue.gif?v=490) no-repeat 4px 4px;padding:2px 0 2px 18px;border-bottom:1px solid #C1D8FF;border-right:1px solid #C1D8FF;border-top:1px solid #FAFCFF;border-left:1px solid #FAFCFF;cursor:pointer}
.editContent .optionContent{padding:10px 0 10px 10px}
.postItcolorSelection div{cursor:pointer;border:1px solid #444;width:15px;height:15px;float:left;margin-right:3px}
.rtl .postItcolorSelection div{float:right;margin-right:0;margin-left:3px}
.borderless-module .editContent{background:none}
body div.borderless-module,body div.borderless-module div.module,body div.borderless-module div.moduleFrame,body div.borderless-module div.moduleunHighlight,body div.borderless-module div.moduleFrame div.moduleContent,body div.borderless-module div.moduleHeaderContainer,body div.borderless-module div.moduleHeader{background-image:none;border-color:transparent;background-color:transparent}
