/* --------------------------------------------- */
/* Common Styles --------------------------------- */
.img-left {
	float: left;
	margin: 0 20px 15px 0;
	position: relative;
	top: 5px
}

.img-right {
	float: right;
	margin: 0 0 15px 20px;
	position: relative;
	top: 5px
}

/* --------------------------------------------- */
/* Header/Logo --------------------------------- */
#header {
	position: relative;
	border-bottom: 1px solid #afc87b;
	height: 84px;
	background: url(../graphics/bg_header.gif) repeat-x bottom;
}

#header h1 {
	width: 430px;
	height: 70px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 14px 0 0 20px;
	background: url(../graphics/bg_logo.jpg) left top no-repeat;
}

#header h1 a {
	text-indent: -1000em;
	display: block;
	background: url('../graphics/ijob_logo.png') no-repeat;
	height: 60px;
	width: 106px;
	float: left;
}

#header h1 span.slogan {
	display: block;
	float: left;
	height: 35px;
	color: #c2e0f9;
	font-family: Times New Roman;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	padding: 25px 0 0 40px;
}

#header .contact_info {
	text-align: right;
	font-size: 11px;
	width: 450px;
	height: 60px;
	position: absolute;
	right: 30px;
	bottom: 15px;
	line-height: 18px;
	color:#fff;
}
#header .contact_info b {color:#c9ef82;}
#header .contact_info li {color:#3183c6;}
#header .contact_info a {
	color:#7eb4e0;
	text-decoration: none;
	font-style: italic;
}

#header .contact_info a:hover {
	text-decoration: underline;
	color: #fff;
}
#header .contact_info li {display:inline;}

/* --------------------------------------------- */
/* Navigation ---------------------------------- */

.navigation {
	background: url(../graphics/nav_bg2.gif) repeat-x;
	height:34px
}



	/* SUPERFISH STYLESHEET ---------------------------------- */
	/*** DO NOT DELETE OR EDIT THE FOLLOWING (Unless you know what you're doing of course!) ***/
	.sf-menu, .sf-menu * { margin:0; padding:0; list-style:none }
	.sf-menu ul { position:absolute; top:-999em; width:220px; border:2px solid #67920D}
	.sf-menu ul li { width:100% }

	/* fixes IE7 'sticky bug' */
	.sf-menu li:hover { visibility:inherit }

	.sf-menu li { float:left; position:relative }
	.sf-menu a { display:block; /*position:relative;*/  border-left:1px solid #FFFFD2; border-right:1px solid #A4CF47}

	.sf-menu li:hover ul,
	.sf-menu li.sfHover ul { left:0; top:25px; /* match top ul list item height */ z-index:99 }

	.sf-menu li:hover li ul,
	.sf-menu li.sfHover li ul { top:-999em }

	.sf-menu li li:hover ul,
	.sf-menu li li.sfHover ul { left:220px; top:-2px }

	.sf-menu li li:hover li ul,
	.sf-menu li li.sfHover li ul { top:-999em }

	.sf-menu li li li:hover ul,
	.sf-menu li li li.sfHover ul {top:-2px }
	.sf-menu li li { background:#E2F3BE }
	.sf-menu li li li { background:#E2F3BE }
	/*** ---------------------------------------------------------------------------------- ***/

	/* Dropdown Styling */
	.sf-menu { margin:0 }
	.sf-menu a { /*text-transform:uppercase; */padding:5px 10px 8px; text-decoration:none; color:#517307 }
	.sf-menu ul a {
		background: none;
		cursor: pointer;
		text-transform: none;
		border-left: none;
		border-right: none;
		padding: 4px 20px;
		text-decoration: none;
		border-bottom: 1px solid #A4CF47;
		border-top: 1px solid #FFFFD2;
		font-weight: normal;
		font-size: 11px;
	}
	.sf-menu ul a.top { border-top:none }
	.sf-menu ul a.bottom { border-bottom:none }
	.sf-menu li:hover, .sf-menu li.sfHover,
	.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { outline:0 }

	.sf-menu a.sf-with-ul { padding-right: 25px; min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */ }
	.sf-sub-indicator { position:absolute; display:block; right:10px; top:5px; /* IE6 only */ width:10px; height:10px; text-indent:-999em; overflow:hidden; background:url('../graphics/arrows.gif') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */ }
	 .sf-menu ul a > .sf-sub-indicator {  /* give all except IE6 the correct values */ top:5px; background-position: 0 -100px; /* use translucent arrow for modern browsers*/ }

	a:focus > .sf-sub-indicator,
	a:hover > .sf-sub-indicator,
	a:active > .sf-sub-indicator,
	li:hover > a > .sf-sub-indicator,
	li.sfHover > a > .sf-sub-indicator { background-position: -10px -100px }

	.sf-menu ul .sf-sub-indicator { background-position: -10px 0 }
	.sf-menu ul a > .sf-sub-indicator { background-position: 0 0 }

	.sf-menu ul a:focus > .sf-sub-indicator,
	.sf-menu ul a:hover > .sf-sub-indicator,
	.sf-menu ul a:active > .sf-sub-indicator,
	.sf-menu ul li:hover > a > .sf-sub-indicator,
	.sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0 }
  .sf-menu li:hover,
	.sf-menu li.sfHover,
	.sf-menu a:focus,
	.sf-menu a:hover,
	.sf-menu a:active { background:#E2F3BE }

	.sf-menu ul li:hover,
 	.sf-menu ul li.sfHover a.item,
	.sf-menu ul a:focus,
	.sf-menu ul a:hover,
	.sf-menu ul a:active { background:#bed789; color:#517307 !important; border-bottom-color:#95c35e; border-top-color:#b1d384 }




/* --------------------------------------------- */
/* Main Homepage Content ----------------------- */
#content {min-width: 980px;}
#main_content {
	min-width: 940px;
	padding: 20px;
	border-bottom: none;
	background: #e1e7d5;
}

#main_content.subpage {
	border-top: none
}

#main_content .content_inner {
	/* width: 655px; */
	margin: 0;
	padding: 15px;
	background: /* #F3F0E8 */ #fff;
	min-height:372px;
	line-height:16px;
}
#main_content p {
	margin:0; 
	padding:0 0 10px;
	line-height: 18px
}

#main_content p.intro-text {
	margin: 15px 0 20px 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 26px
}

/* --------------------------------------------- */
/* Footer ----------------------- */
#footer {
	position: relative;
	min-width: 938px;
	margin: 0 auto;
	padding: 20px;
	color: #FFF;
	background: /* #0F3149 */ #324400;
}
#footer li {display:inline;}
#footer li a {margin: 0px 5px; text-decoration: none; color: #E2F3BE;}
#footer a:hover {text-decoration: underline; color: #FFF}

#footer span {
	position: absolute;
	right: 20px;
	top: 20px
}
