<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="KimHoangConnection" value="Data Source=QTRANG;Initial Catalog=KIMHOANG_WEB;User ID=sa;Password=123456"/>
		<add key="LogPath" value="E://KimHoang_LOG"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
