.space
{
    background: url("http://antuongviet.vn/Images/top_mid_red_bg.jpg") repeat-x scroll left bottom transparent;
    width: 100%;
    height: 12px;
}
.groupCat
{
    height:150px;
}
.title .title
{
}
.title .nameCat
{
    color: red;
    display: block;
    float: left;
    font-weight: bold;
    height: 22px;
    width: 30%;
}
.title .lineCat
{
    display: block;
    float: left;
    height: 12px;
    border-bottom: 2px solid red;
    width: 70%;
}
.groupCat .content
{
}
.groupCat .content .c1
{
   display: block;
    width: 45%;
}
.groupCat .content .c1 img
{
    display: block;
     float: left;
    font-weight: bold;
    height: 100px;
    width: 49%;
}
.groupCat .content .c1 .description
{
    display: block;
    float: left;
    font-weight: bold;
    height: 100px;
    width: 45%;
}

.groupCat .content .c2
{
    display: block;
    float: left;
    width: 49%;
}
