body {
background-color:#A4C2C2 !important;
}
table.TOC {
border:1px solid #BBBBBB;
border-collapse:collapse;
margin:1em 0;
}
.TOC tr.rTitle td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#99B5B5 none repeat scroll 0 0;
color:#FFFFFF;
font-size:0.95em;
font-weight:bold;
letter-spacing:1px;
padding-bottom:5px;
padding-top:4px;
}
.TOC tr.r0 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
}
.TOC tr.r0 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
}
.TOC td {
border-left:1px solid #BBBBBB;
padding:2px 10px 4px;
white-space:nowrap;
}
h5 {
border-bottom:1px dotted #CCCCCC;
font-size:1em;
font-weight:normal;
line-height:1em;
margin:1em 0;
padding:1em 0 5px;
}
h5.withNext {
border-bottom:medium none;
margin-bottom:-1em;
padding-bottom:0;
}
h5 a.bm {
color:#CC3300;
font-weight:bold;
}
h5 em {
float:right;
font-size:0.9em;
font-style:normal;
margin-top:-1.4em;
}
#navigation {
border-bottom:0 none;
}
ul, ol {
}
li {
padding-bottom:3px;
padding-top:2px;
}
.ui-layout-west .ui-layout-content {
padding:1ex 0.5em 2em 22px;
}
ul#TOC {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#TOC li {
padding:2px 0;
}
#TOC a {
color:#000000;
display:block;
padding:1px 0 2px 3px;
}
#TOC a:visited {
color:#000000;
}
#TOC a:hover {
background-color:#FFEECC;
color:#000000;
text-decoration:none;
}
#TOC li ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 0 0 1em;
padding:0.25em 0;
}
#TOC li ul li {
font-size:0.9em;
padding:1px 0;
}
#TOC li ul li a {
padding-bottom:1px;
padding-top:0;
}
#TOC .tocBtn {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/icon_tree_off.gif) no-repeat scroll center center;
cursor:pointer;
float:left;
height:16px;
margin-left:-17px;
margin-top:2px;
width:16px;
}
h2 {
margin-bottom:0;
}
div.collapsible {
border-color:-moz-use-text-color #FFFFFF #FFFFFF;
border-style:none solid solid;
border-width:medium 1px 1px;
padding:0.75em 3px 3px;
position:relative;
}
div.highlightCollapsible {
border-color:-moz-use-text-color #566F6F #566F6F;
border-style:none dotted dotted;
border-width:medium 1px 1px;
}
div.highlightCollapsible, div.highlightCollapsible pre {
background-color:#F2F6F4;
}
div.collapsible h4 {
margin-top:0 !important;
}
span.expander {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/icon_tree_on.gif) no-repeat scroll center center;
cursor:pointer;
float:right;
height:16px;
margin-top:3px;
width:16px;
}
span.expander_open {
background-image:url(../../Img/Layout/icon_tree_off.gif);
}
span.expander_closed {
background-image:url(../../Img/Layout/icon_tree_on.gif);
}
.ui-layout-north {
background-color:#667777;
border-bottom: 1px solid #667777;

}
.ui-layout-west {
background-color:#F9F9F9;
border-color:#667777 #667777 #667777 -moz-use-text-color;
border-style:solid solid solid none;
border-width:1px 1px 1px 0;
overflow:auto;
}
.ui-layout-center {
background-color:#FFFFFF;
border:1px solid #667777;
overflow:auto;
padding:0;
}
.header {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE url(../../Img/Layout/eeeeee_40x100_textures_02_glass_90.png) repeat-x scroll 0 50%;
border-bottom:1px solid #667777;
font-weight:bold;
overflow:hidden;
padding:2px 0 4px;
position:relative;
text-align:center;
}
.ui-layout-resizer-sliding {
background-color:#999999;
opacity:0.1;
}
.ui-layout-resizer-sliding:hover {
opacity:1;
}
.ui-layout-resizer-north-dragging, .ui-layout-resizer-north:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/resizable-n.gif) repeat-x scroll center center;
}
.ui-layout-resizer-south-dragging, .ui-layout-resizer-south:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/resizable-s.gif) repeat-x scroll center center;
}
.ui-layout-resizer-west-dragging, .ui-layout-resizer-west:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/resizable-w.gif) repeat-y scroll center center;
}
.ui-layout-resizer-east-dragging, .ui-layout-resizer-east:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/resizable-e.gif) repeat-y scroll center center;
}
* html .ui-layout-resizer-south {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../../Img/Layout/resizable-s.gif) repeat-x scroll center center !important;
}
* html .ui-layout-resizer-west-open {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../../Img/Layout/resizable-w.gif) repeat-y scroll center center !important;
}
* html .ui-layout-resizer-east-open {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../../Img/Layout/resizable-e.gif) repeat-y scroll center center !important;
}
.ui-layout-toggler-north-open, .ui-layout-toggler-south-closed {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/toggle-up.gif) no-repeat scroll center bottom;
}
.ui-layout-toggler-north-closed, .ui-layout-toggler-south-open {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/toggle-dn.gif) no-repeat scroll center top;
}
.ui-layout-toggler-east-closed, .ui-layout-toggler-west-open {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/toggle-lt.gif) no-repeat scroll right center;
}
.ui-layout-toggler-east-open, .ui-layout-toggler-west-closed {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../Img/Layout/toggle-rt.gif) no-repeat scroll left center;
}

