
/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.art-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.art-vmenu ul
{
  display: none;
}

ul.art-vmenu ul.active
{
  display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
  display: block;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1px;
  background-color: #EDEDED;
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border-top: solid 1px #FBF6E4;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 90px;
  background-image: url('../Img/vmenu.png');
}

ul.art-vmenu a .l
{
  left: 0;
  right: 19px;
}

ul.art-vmenu a .r
{
  width: 900px;
  right: 0;
  clip: rect(auto, auto, auto, 881px);
}

ul.art-vmenu a .t
{
  display: block;
  line-height: 30px;
  color: #221F11;
  padding: 0 10px 0 29px;
  font-weight: bold;
  margin-left:0;
  margin-right:0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -60px;
}

ul.art-vmenu a.active .t
{
  color: #F6F5EE;
}


ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -30px;
}

ul.art-vmenu a:hover .t
{
  color: #727C6E;
}
/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.art-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 20px;
  overflow: visible;
  background-image: url('../Img/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding-left: 43px;
}


ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 20px;
  color: #7D713F;
  font-size: 11px;
  margin-left: 0;
}

ul.art-vmenu ul
{
    margin:0 0 0 0;
}

ul.art-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
   background-color: #EDEDED;
}

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border-top: solid 1px #FFFFFF;
}

ul.art-vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 68px;
}

ul.art-vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 93px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 118px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 143px;
}


ul.art-vmenu ul li a.active
{
  color: #0F100E;
  background-position: 25px -40px;
}

ul.art-vmenu ul li li a.active
{
  background-position: 50px -40px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 75px -40px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 100px -40px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 125px -40px;
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  color: #B7951A;
  background-position: 25px -20px;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  background-position: 50px -20px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 75px -20px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 100px -20px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -20px;
}
/* end VMenuSubItem */